<div id="home-content">
  <div id="description">
    <p>We are a web development company formed by young people that follow trendy and solid software 
      development concepts.</p>
  </div>
  <div class="column">
    <h2>Agile Web Development:</h2>
    <p>Our highest priority is to satisfy the customer through early and continuous delivery of valuable software.</p>
  </div>
  
  <div class="column middle">
    <h2>Test Driven Development:</h2>
    <p>Writing test first we ensure that our code is functional, minimal and clean.</p>
  </div>
  
  <div class="column">
    <h2>Responsive Web Design:</h2>
    <p>We use techniques to develop websites where the layout responds depending on the devices/viewports that access it</p>
  </div>
</div>
